form,
h1 {
    color: #fff88bff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 50px;
    height: 20px;
}

button {
    z-index: 1;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #844923ff;
    cursor: pointer;
    background: transparent;
    color: #fff88bff;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #fff88bff;
    color: #844923ff;
}

#submitBtn {
    height: 50px;
    width: 150px;
    font-size: 18px;
}

input {
    box-sizing: border-box;
    height: 50px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #844923ff;
    cursor: pointer;
    color: #fff88bff;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    margin-top: 8px;
    cursor: text;
    text-align: center;
    width: 17rem;
}

#name {
    min-width: 264px;
}

#errorMsg {
    color: rgb(255, 0, 0);
    margin-top: 20px;
    height: 20px;
    font-size: 14px;
}

div.selectContainer {
    display: flex;
    justify-content: center;
}

.chkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 8px;
}

.chkbox input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

.chkbox input[type="checkbox"]:checked {
    color: yellow;
}

.chkbox input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 2px;
    width: 11px;
    height: 20px;
    border: solid #fff88bff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.chkbox label {
    margin-left: 8px;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    #errorMsg {
        font-size: 12.5px;
    }

    .chkbox > label{
        margin-left: 2px;
        font-size: 10px;
    }

    .chkbox {
        height: 20px;
        margin-top: 8px;
    }
    
    .chkbox input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
    
    .chkbox input[type="checkbox"]:checked::after {
        left: 6px;
        top: 1px;
        width: 5px;
        height: 14px;
        border-width: 0 2px 2px 0;
    }
}