.characterSelectorDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.arrows {
    font-size: 35px;
}

.arrows:hover {
    cursor: pointer;
    color: #fff88bff !important;
}

.character {
    height: 70px;
}