#colorChange{
    padding: 20px;
}

div#colorChange > button{
    margin-right: 10px;
}

#pinkBtn, #brownBtn, #blueBtn, #greenBtn, #purpleBtn{
    border-radius: 50%;
    padding: 0px;
    width: 20px !important;
    height: 20px;
}

#brownBtn, #brownBtn:hover, .brownBtnBckground{
    background-color: #844923ff;
}

.brownBodyBckground{
    background-color: #533e08d7;
}

#pinkBtn,#pinkBtn:hover, .pinkBtnBckground{
    background-color: #8c3747;
}

.pinkBodyBckground{
    background-color: #b5485d;
}

#blueBtn, #blueBtn:hover, .blueBtnBckground{
    background-color: #072ac8;
}

.blueBodyBckground{
    background-color: #184a87;
}

#greenBtn, #greenBtn:hover, .greenBtnBckground{
    background-color: #1a5c3d;
}

.greenBodyBckground{
    background-color: #2e785a;
}

#purpleBtn, #purpleBtn:hover, .purpleBtnBckground{
    background-color: #480ca8;
}

.purpleBodyBckground{
    background-color: #53228c;
}

@media only screen and (max-width: 768px) {
    #colorChange{
        width: 100%;
        margin-bottom: 20px;
    }
}