div#colorChange>button {
    margin-right: 10px;
}

#pinkBtn,
#brownBtn,
#blueBtn,
#greenBtn,
#purpleBtn {
    border-radius: 50%;
    padding: 0px;
    width: 20px !important;
    height: 20px;
}

#brownBtn,
#brownBtn:hover,
.brownBtnBckground,
div.brownBtnBckgroundForSelect>div>div {
    background-color: #4f2c16;
}

.brownBodyBckground {
    background-color: #694f0dd7;
}

#pinkBtn,
#pinkBtn:hover,
.pinkBtnBckground,
div.pinkBtnBckgroundForSelect>div>div {
    background-color: #8c3747;
}

.pinkBodyBckground {
    background-color: #bc6273;
}

#blueBtn,
#blueBtn:hover,
.blueBtnBckground,
div.blueBtnBckgroundForSelect>div>div {
    background-color: #072ac8;
}

.blueBodyBckground {
    background-color: #3b6aa2;
}

#greenBtn,
#greenBtn:hover,
.greenBtnBckground,
div.greenBtnBckgroundForSelect>div>div {
    background-color: #1a5c3d;
}

.greenBodyBckground {
    background-color: #3a8869;
}

#purpleBtn,
#purpleBtn:hover,
.purpleBtnBckground,
div.purpleBtnBckgroundForSelect>div>div {
    background-color: #480ca8;
}

.purpleBodyBckground {
    background-color: #a05eed;
}