#elementsToReturn{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0px 5%;
    grid-column: 1 / 6;
    grid-row: 4 / 6;
    /* min-height: 300px; */
}

.letters{
    margin: 2px;
    font-size: 1.2vw;
    text-align: center;
    min-width:20px;
    min-height: 15px;
    height: 3rem;
}

.alreadyInWordLetter {
    background-color: rgb(5, 216, 5) !important;
    color: #fff88bff;
    cursor: auto;
    pointer-events: none;
}

.wrongLetterGuess {
    background: rgb(255, 0, 0) !important;
    color: #fff88bff;
    cursor: auto;
    pointer-events: none;
}

.untriedLetter {
    cursor: auto;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    #elementsToReturn{
        height: 40vh;
        margin-top: -20px;
    }

    .letters{
        font-size: 1.5vw;
        height: 1.7rem;
    }    

    @media only screen and (orientation: landscape) {
        #elementsToReturn{
            margin-top: -50px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .letters{
        font-size: 3vw;
    }    
}

@media only screen and (max-height: 800px) and (orientation: landscape) {

    #elementsToReturn{
        height: 40vh;
    }   
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    .letters {
        height:2rem;
    }

    #elementsToReturn{
        margin-top: 26px;
    }
}
/*
@media only screen and ((min-width: 768px) and (max-height: 1368px)) {

    #elementsToReturn{
        margin-top: -25px;
    }

    .letters{
        font-size: 2.7vw;
        height: 3.7rem;
        margin: 5px;
    }   

} */