#elementsToReturn{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-content: center;
    padding: 0px 5%;
}

.letters{
    margin: 2px;
    font-size: 15px;
    text-align: center;
    min-width:20px;
    min-height: 15px;
    height: 45px;
}

.alreadyInWordLetter {
    background-color: rgb(5, 216, 5) !important;
    color: #fff88bff;
    cursor: auto;
    pointer-events: none;
}

.wrongLetterGuess {
    background: rgb(255, 0, 0) !important;
    color: #fff88bff;
    cursor: auto;
    pointer-events: none;
}

.untriedLetter {
    cursor: auto;
    pointer-events: none;
}


@media only screen and (max-width: 768px) {
    .letters{
        height: 35px;
    }
}
