#elementsToReturn{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0px 3%;
}

.letters{
    margin: 2px;
    font-size: 1.2vw;
    text-align: center;
    min-width:20px;
    min-height: 15px;
    height: 3rem;
}

.alreadyInWordLetter {
    background-color: rgb(5, 216, 5) !important;
    color: #fff88bff;
    cursor: auto;
    pointer-events: none;
}

.wrongLetterGuess {
    background: rgb(255, 0, 0) !important;
    color: #fff88bff;
    cursor: auto;
    pointer-events: none;
}

.untriedLetter {
    cursor: auto;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .letters{
        font-size: 2.7vw;
        min-width:25px;
        min-height: 35px;
        height: auto;
    }
}
