.gameApp {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% auto 2.5% auto 4%;
    grid-gap: 14px;
    grid-template-areas: 
      "gwf gwf gwf gwf gwf gwf gwf gwf gwf gwf gwf gwf"
      "dd dd dd dd dd dd dd dd dd dd dd dd"
      "bd bd bd bd bd bd bd bd bd bd bd bd"
      "e e e e e e e e e e e e"
      "sclc sclc sclc sclc sclc sclc sclc sclc sclc sclc sclc sclc";
}

#gnameAndWordAndFullscreen{
    grid-area: gwf;
    display: flex;
    justify-content: space-between;
}

#drawingDiv{
    grid-area: dd;
}

#buttonDiv{
    grid-area: bd;
}

#elementsToReturn  {
    grid-area: e;
}

#selectedCatAndLevelAndColor{
    grid-area: sclc;
    display: flex;
    justify-content: center;
}

#selectedCatAndLevelAndColor > h1{
    margin: 0;
}

ul {
    display: flex;
    align-items: flex-end;
}

.letterAndLineContainer{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.letterAboveLine, .imgAboveLine {
    font-size: 40px;
    color: #fff88bff;
}

.lineForWordToGuess {
    min-width: 20px;
    font-size: 20px;
    color: #fff88bff;
    margin-top: -20px;
}

#mark{
    height: 25px;
    width: 25px;
    opacity: 0;
    display: inline-flex;
}

button {
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color:#844923ff;
    cursor: pointer;
    color: #fff88bff;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #fff88bff;
    color: #844923ff;
}

#btnIWantAWord {
    min-width: 120px;
    min-height: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 2px solid #fff88bff;
}

#backBtn {
    min-width: 120px;
    min-height: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 2px solid #fff88bff;
}

#selectedCatAndLevel {
    grid-area: scl;
    justify-self: start;
    margin-top: -10px;

}

div#selectedCatAndLevel > h1 {
    margin: 0px;
    font-size: 18px;
}

#gamerName{
    margin: 10px;
}

@media only screen and (max-width: 800px) {

    #buttonDiv {
        height: 2rem;
    }

    button {
        padding: 8px 28px;
        border-radius: 18px;
        font-size: 16px;
        margin-top: -30px;
        height: 1.9rem;
    }   

    div#selectedCatAndLevel > h1, #gamerName {
        font-size: 16px;
    }

    #selectedCatAndLevel {
        margin-bottom: 0px;
    }

    .letterAboveLine {
        font-size: 33px;
        margin-top: 10px;
    }
    
    .lineForWordToGuess {
        min-width: 16px;
        font-size: 18px;
        margin-top: -20px;
    }
    
    #btnIWantAWord {
        border-right: 1px solid #fff88bff;
    }
    
    #checkmark{
        width: 22px;
    }
    
    #backBtn {
        border-left: 1px solid #fff88bff;
    }
}

@media only screen and (max-width: 600px) {
    button {
        padding: 6px 26px;
        border-radius: 16px;
        font-size: 11px;
    }   

    div#selectedCatAndLevel > h1, #gamerName {
        font-size: 11px;
    }

    .letterAboveLine {
        font-size: 25px;
    }
    
    .lineForWordToGuess {
        font-size: 8px;
        margin-top: -10px;
    }
    
    #checkmark{
        width: 19px;
    }
}

@media only screen and (max-height: 800px) and (orientation: portrait){
    .letterAndLineContainer{
        max-height: 70px;
    }
}

@media only screen and (max-height: 800px) and (orientation: landscape) {

    button {
        font-size: 15px;
    }   

    #buttonDiv {
        margin-bottom: -40px;
    }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    div#selectedCatAndLevel > h1 {
        margin-bottom: -80px;
    }
}