#root  {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  display: grid;
  min-height: 600px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5% 15% auto 5%;
  grid-template-areas: 
    "fsb fsb fsb fsb fsb fsb fsb fsb fsb fsb fsb fsb"
    "h h h h h h h h h h h h"
    "f f f f f f f f f f f f"
    "c c c c c c c c c c c c"
}

h1  {
  grid-area: h;
}

form  {
  grid-area: f;
}

#colorChange  {
  grid-area: c;
  margin-left: 10px;
}

#fullScreenBtn{
  justify-self: end;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.fullScrnAndClearStorageBtn{
  grid-area: fsb;
  display: flex;
  justify-content: space-between;
}

.delLocalStorageIcon{
  margin: 10px;
  font-size: 30px;
  color: #fff88bff;
  cursor: pointer;
}

#fullScreenBtn:hover, .delLocalStorageIcon:hover{
  filter: sepia(1) saturate(500%) hue-rotate(-20deg) brightness(80%);
}

@media only screen and (max-width: 768px) {
  #colorChange{
      justify-self: center;
  }
  .delLocalStorageIcon{
    font-size: 22px;
  }
}